nav {
  background-color: antiquewhite;
  position: fixed;
  top : 0;
  left:0;
  width: 100%;
  padding: 10px;
}

nav ul {
  margin: 0 0 10px 0;
  display: flex;
  list-style-type: none;
  margin: 0px;
  
}

nav ul li {
  padding: 5px;
}